<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>rohan</display-name>

  <context-param>
    <param-name>presentation-loader</param-name>
    <param-value>nursery:/neo/xredsys/presentation/PresentationLoader</param-value>
  </context-param>
  <context-param>
    <param-name>api</param-name>
    <param-value>nursery://global/io/api/API</param-value>
  </context-param>

  <filter>
    <filter-name>TopFilter</filter-name>
    <filter-class>com.escenic.servlet.TopFilter</filter-class>
    <init-param>
      <param-name>shared-instance</param-name>
      <param-value>nursery://global/neo/io/reports/Top</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>ECEProfileFilter</filter-name>
    <filter-class>com.escenic.servlet.ECEProfileFilter</filter-class>
  </filter>

  <filter>
    <filter-name>ECETimerFilter</filter-name>
    <filter-class>com.escenic.servlet.TimerFilter</filter-class>
    <init-param>
      <param-name>collector</param-name>
      <param-value>/neo/io/reports/HitCollector</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>BootstrapFilter</filter-name>
    <filter-class>com.escenic.presentation.servlet.BootstrapFilter</filter-class>
  </filter>

  <filter>
    <filter-name>EscenicStandardFilterChain</filter-name>
    <filter-class>com.escenic.presentation.servlet.CompositeFilter</filter-class>
    <init-param>
      <param-name>chain</param-name>
      <param-value>nursery:/com/escenic/servlet/StandardFilter</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>cache</filter-name>
    <filter-class>com.escenic.presentation.servlet.multimedia.CacheFilter</filter-class>
  </filter>

  <filter>
    <filter-name>imageVersionFilter</filter-name>
    <filter-class>com.escenic.presentation.servlet.ImageVersionFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>TopFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>ECEProfileFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>ECETimerFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>

  <filter-mapping>
    <filter-name>BootstrapFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>EscenicStandardFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>cache</filter-name>
    <servlet-name>binaryFieldRetriever</servlet-name>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>


  <filter-mapping>
    <filter-name>imageVersionFilter</filter-name>
    <servlet-name>binaryFieldRetriever</servlet-name>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

  <listener>
    <description>ImageIO plugins listener</description>
    <listener-class>com.twelvemonkeys.servlet.image.IIOProviderContextListener</listener-class>
  </listener>

  <listener>
    <description>Escenic Presentation layer bootstrap listener</description>
    <listener-class>com.escenic.presentation.servlet.PresentationBootstrapper</listener-class>
  </listener>

  <servlet>
    <servlet-name>ECERedirectServlet</servlet-name>
    <servlet-class>com.escenic.presentation.servlet.RedirectServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>binaryFieldRetriever</servlet-name>
    <servlet-class>com.escenic.presentation.servlet.BinaryFieldRetrieverServlet</servlet-class>
    <init-param>
      <param-name>storage</param-name>
      <param-value>nursery://global/com/escenic/storage/Storage</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>ECERedirectServlet</servlet-name>
    <url-pattern>/eceRedirect</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
